Yelan/config.py
logfile
Yelan.session
Yelan.session-journal
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
okgoogle.png
*.backup
sticker.png
kangsticker.png
kangsticker.tgs
kangsticker
Yelan.mp3
gpic.png
